@import url('https://fonts.googleapis.com/css2?family=Anta&dispLightay=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #0b1147;
    overflow: hidden;
    color: white;
    font-family: "Anta", sans-serif;
}

canvas {
    position: absolute;
    bottom: 0;
}

.switch, .light {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background-color: red;
    user-select: none;
    position: absolute;
}

.switchOutput {
    top: 20px;
    left: 50px;
}

.lightInput {
    left: -10px;
    top: 20px;

}

.pSwitch, .pLight {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 13px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: red;
    user-select: none;
    position: relative;
}

.pSwitchOutput {
    left: 35px;
    top: 15px;
}

.pLightInput {
    left: -5px;
    top: 15px;
}

.pAnd, .pXor, .pNor {
    height: 37px;
    width:  45px;
    text-align: center;
    line-height: 37px;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: grey;
    user-select: none;
    position: relative;
}

.pNand, .pXnor {
    height: 38px;
    width:  60px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: grey;
    position: relative;
    user-select: none;
}

.pOr {
    height: 38px;
    width:  45px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 13px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: grey;
    position: relative;
    user-select: none;
}

.pOrOutput1 {
    left: 40px;
    top: 11px;
}

.pNot {
    height: 30px;
    width: 45px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 13px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: grey;
    position: relative;
    user-select: none;
}

.pNotInput {
    left: -6px;
    top: 9px;
}

.pNotOutput {
    left: 39px;
    top: 9px;
}

.pNandOutput1, .pXnorOutput1 {
    left: 55px;
    top: 13px;
}

.pAndInput1, .pOrInput1, .pXorInput1, .pNandInput1, .pXnorInput1, .pNorInput1 {
    left: -7px;
    top: 0px;
}

.pAndInput2, .pOrInput2, .pXorInput2, .pNandInput2, .pXnorInput2, .pNorInput2 {
    left: -7px;
    top: 22px;
}

.pAndOutput1, .pXorOutput1, .pNorOutput1 {
    left: 38px;
    top: 10px;
}

.pInputOutput {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #ccc;
    position: absolute;
}

.not {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    /*border: 2px solid black;*/
    background-color: grey;
    user-select: none;
    position: absolute;
}

.notInput {
    left: -10px;
    top: 20px;
}

.notOutput {
    left: 50px;
    top: 20px;
}

.gateInputOutput {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    position: absolute;
}
.gateInputOutput:hover {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    transform: translate(-3px, -3px);
    transition: all 0.3s;
}

.nand, .xnor {
    height: 60px;
    width:  80px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    /*border: 2px solid black;*/
    background-color: grey;
    position: absolute;
    user-select: none;
}

.and, .xor, .nor, .or {
    height: 60px;
    width:  60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    /*border: 2px solid black;*/
    background-color: grey;
    position: absolute;
    user-select: none;
}

.nandOutput1, .xnorOutput1 {
    left: 70px;
    top: 20px;
}

.andInput1, .orInput1, .xorInput1, .nandInput1, .xnorInput1, .norInput1 {
    left: -10px;
}

.andInput2, .orInput2, .xorInput2, .nandInput2, .xnorInput2, .norInput2 {
    left: -10px;
    top: 40px;
}

.andOutput1, .xorOutput1, .norOutput1, .orOutput1 {
    left: 50px;
    top: 20px;
}

#stage {
    width: 100%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    background-color: #070b30;
}

#toolbar {
    width: 100%;
    height: 10vh;
    background-color: #090e40;
    position: relative;
}

#previewContainer {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}